body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#title-section {
    height: 100vh;
    width: 30vw;
    background-image: url("../images/mainImg.avif");
}
#title-section {

}
.main-img-container img {
    width: 100%;
    height: auto;
}
#content-section {
    height: 100vh;
    width: 70vw;
}
.main-img-container {
    position: fixed;
}
.odin-container {
    position: fixed;
}
.title-credits {
    position: fixed;
}