@font-face {
    font-family: norse-bold;
    src: url("../assets/Norse-Bold.otf");
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#title-section {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 30vw;
    background-image: url("../images/mainImg.avif");
}
.main-img-container img {
    width: 100%;
    height: auto;
}
#content-section {
    height: 100vh;
    width: 70vw;
}
.main-img-container {
    position: fixed;
}
.odin-container-background {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
.odin-container {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    height: 150px;
}
.odin-img {
    width: 100px;
    height: auto;
    opacity: 1;
}
.odin-text {
    color: white;
    font-family: norse-bold;
    font-weight: 800;
    font-size: 5rem;
}
.title-credits {
    position: fixed;
    bottom: 0px;
    color: white;
    text-align: center;
    font-size: 1.25rem;
}
.title-credits span {
    text-decoration: underline;
}
.content-up {
    background-color: #F9FAFB;
    top: 0px;
    position: fixed;
    width: 100%;
    height: calc(20vh + 150px);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px -1px #888, 0px -3px 5px #888;
}
.content-up p {
    width: 50%;
    padding-left: 50px;
}
.form-up {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding-left: 50px;
    padding-top: 3rem;
}
.content-form {
    margin-top:calc(20vh + 150px);
}
.form-left-right {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}
.form-item {
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    padding-bottom: 2rem;
}
.form-item label {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
}
.form-item input {
    height: 1.4rem;
    width: 15vw;
    border: 1px solid #E5E7EB;
    border-radius: 0.25rem;
}
.form-item input:focus {
    outline: 1px solid blue !important;
    border-radius: 0.25rem;
    box-shadow: 5px 10px 18px #E5E7EB;
}
.form-item input:invalid {
    outline: 1px solid red !important;
    border-radius: 0.25rem;
    box-shadow: 5px 10px 18px #E5E7EB;
}
.form-down {
    bottom: 0px;
    background-color: #F9FAFB;
    position: fixed;
    width: 100%;
    height: calc(20vh + 100px);
    box-shadow: 10px 5px #888, 0px 16px 29px #888;
}
.submit-button {
    background-color: #596D48;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: none;
    border: none;
    box-shadow: -1px 0px #888, -2px 2px 5px #596d48;
    margin-left: 50px;
    margin-top: 25px;
}
.under-submit-container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    align-items: center;
}
.under-submit-text {
    font-size: 1.25rem;
}
.under-submit-link {
 color: #596d48;   
 font-size: 1rem;
 font-size: 1.25rem;
 text-decoration: none;
}

@media (min-width: 850px) and (max-width: 1000px) {
    .title-credits {
        font-size: 1rem;
    }
  }

@media (min-width: 800px) and (max-width: 850px) {
    .title-credits {
        font-size: 0.7rem;
    }
  }

@media (max-width: 800px) {
    .body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    #title-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
        width: 100vw;
        background-image: url("../images/mainImg.avif");
        position: fixed;
    }
    .odin-container-background {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    #content-section {
        height: 75vh;
        width: 100vw;
        margin-top: 0px;
        position: static;
    }
    .content-up {
        background-color: #F9FAFB;
        width: 100%;
        height: calc(20vh + 150px);
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: 900;
        box-shadow: 0px -1px #888, 0px -3px 5px #888;
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        text-align: center;
    }
    .content-form {
        position: static;
        margin-top: 0px;
    }
    .form-up {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px;
        margin-top: 3rem;
    }
    .form-left-right {
        position: static;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-left {
        padding: auto;
        margin: auto;
        min-width: 80vw;
        max-width: 90vw;
    }
    .form-right {
        padding: auto;
        margin: auto;
        min-width: 80vw;
        max-width: 90vw;
    }
    .form-item {
        padding: 1rem;
    }
    .form-item label {
        
    }
    .form-item input {
        width: 100%;
    }
    .form-down {
        position: static;
        bottom: 0px;
        background-color: #F9FAFB;
        width: 100%;
        box-shadow: 10px 5px #888, 0px 16px 29px #888;
        height: auto;
    }
    .content-up p {
        min-width: 80vw;
        max-width: 90vw;
        padding-left: 0px;
        position: static;
    }
    .submit-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80vw;
        max-width: 90vw;
    }
    .under-submit-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80vw;
        max-width: 90vw;
        flex-direction: row;
        text-align: center;
        margin: 0px;
    }
    .under-submit-container p {
        width: 100%;
    }
}

@media (max-height: 1000px) and (min-width: 800px) {
    #title-section {
        position: fixed;
    }
    #content-section {
        position: static;
        margin-left: 30vw;
    }
    .content-up {
        position: static;
    }
    .content-form {
        position: static;
    }
    .form-left-right {
        position: static;
    }
    .form-down {
        position: static;
    }
  }

  @media (max-height: 1000px) and (max-width: 800px) {
    #title-section {
        position: fixed;
    }
    #content-section {
        position: static;
    }
    .content-up {
        position: static;
    }
    .content-form {
        position: static;
    }
    .form-left-right {
        position: static;
    }
    .form-down {
        position: static;
    }
  }